In [ ]:
# %load process-data/load_data.py
from glob import glob
import mne
from mne import create_info, concatenate_raws, Epochs, find_events
from mne.io import RawArray
from mne.channels import read_montage
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt


def describe_data(files):
    if len(files) == 0:
        print "no files found"
        return
    raw = get_raw(files)
    df = raw.to_data_frame()
    event_id = {'Non-Target': 1, 'Target': 2}
    reject = {'eeg': 100e-6}
    avg, epochs = clean_epochs(event_id, raw, {'start': 1, 'end': 30}, reject)

    df.describe()
    avg.plot()
    avg.plot_image()

    for kind in event_id.keys():
        subset = epochs[kind]
        av = subset.average()
        ixs_plot = mne.pick_types(av.info, meg=False, eeg=True)
        _ = av.plot_joint(picks=ixs_plot, title=kind)


def get_raw(files):
    raw = []
    for file_name in files:
        # read the file
        data = pd.read_csv(file_name, index_col=0)
        sfreq = 256

        # name of each channels
        ch_names = list(data.columns)[0:4] + ['Stim']

        # type of each channels
        ch_types = ['eeg'] * 4 + ['stim']
        montage = read_montage('standard_1005')

        # get data and exclude Aux channel
        data = data.values[:, [0, 1, 2, 3, 5]].T

        # convert to Volts (from uVolts (microvolt) to volt
        # from the docs:
        # /muse/eeg is uV , floats, range: 0.0 - 1682.815 uV
        # 1uv == (10^-6) * (1 Volt)
        data[:-1] *= 1e-6

        # create mne objects
        info = create_info(ch_names=ch_names, ch_types=ch_types, sfreq=sfreq, montage=montage)
        raw.append(RawArray(data=data, info=info))

    # concatenates all raw objects
    raw = concatenate_raws(raw)
    return raw


def clean_epochs(event_id, raw, filter, reject):
    # filter out events outside of start, end
    #  power line noise - 50 hz,
    if filter is not None:
        raw.filter(filter['start'], filter['end'], method='iir')
    events = find_events(raw)

    epochs = Epochs(raw, events=events, event_id=event_id, tmin=-0.1, tmax=0.8, baseline=None,
                    reject=reject, preload=True, verbose=False, picks=[0, 1, 2, 3], add_eeg_ref=False)

    avg = epochs.average()
    avg.plot()

    return avg, epochs


def p300(epochs):
    epochs.pick_types(eeg=True)
    X = epochs.get_data() * 1e6
    times = epochs.times
    y = epochs.events[:, -1]

    sns.set_context('talk')
    sns.set_style('white')
    fig, axes = plt.subplots(2, 2, figsize=[12, 6], sharex=True, sharey=True)
    axes = [axes[1, 0], axes[0, 0], axes[0, 1], axes[1, 1]]

    for ch in range(4):
        sns.tsplot(X[y == 1, ch], time=times, n_boot=1000, ax=axes[ch])
        sns.tsplot(X[y == 2, ch], time=times, color='r', n_boot=1000, ax=axes[ch])
        axes[ch].set_title(epochs.ch_names[ch])
        axes[ch].set_ylim(-6, 6)

    axes[0].set_xlabel('Time (s)')
    axes[0].set_ylabel('Amplitude (uV)')
    axes[-1].set_xlabel('Time (s)')
    axes[1].set_ylabel('Amplitude (uV)')
    plt.legend(['Non-target', 'Target'])
    sns.despine()
    plt.tight_layout()
    return plt


def p300_from_path(path, reject):
    files = glob(path)
    raw = get_raw(files)
    event_id = {'Non-Target': 1, 'Target': 2}
    avg, epochs = clean_epochs(event_id, raw, {'start': 1, 'end': 30}, reject)
    return p300(epochs)

In [14]:
from glob import glob

path = '/Users/shiran/workspace/muse-lsl/data/visual/P300/shiran/dogs/*.csv'
files = glob(path)
raw = get_raw(files)

Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.
Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.
Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.
Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.
Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.
Creating RawArray with float64 data, n_channels=5, n_times=30732
    Range : 0 ... 30731 =      0.000 ...   120.043 secs
Ready.

In [30]:
import pandas as pd
csv = '/Users/shiran/workspace/eeg-processing/raw-data/plain_record/01-13-18_17-42-31.csv'
csv2 = '/Users/shiran/workspace/muse-lsl/data/visual/P300/shiran/dogs/data_2017-07-28-10.48.49.csv'
data = pd.read_csv(csv, float_precision='round_trip')
data2 = pd.read_csv(csv2, float_precision='round_trip')

data.describe()

,timesamps,TP9,AF7,AF8,TP10,Right AUX
count,7.320000e+02,732.000000,732.000000,732.000000,732.000000,732.000000
mean,1.515858e+09,34.400481,65.670493,29.152792,32.279260,36.851226
std,8.267549e-01,54.861512,215.444869,8.623902,29.471541,73.903285
min,1.515858e+09,-153.808594,-546.386719,-3.906250,-79.101562,-100.097656
25%,1.515858e+09,-12.695312,-61.157227,23.925781,12.695312,-2.441406
50%,1.515858e+09,35.888672,62.744141,29.296875,32.226562,30.273438
75%,1.515858e+09,80.200195,187.500000,34.667969,51.269531,57.617188
max,1.515858e+09,228.027344,803.222656,54.199219,142.578125,633.789062

In [41]:
data2.describe()

,timestamps,TP9,AF7,AF8,TP10,Right AUX,Marker0
count,30732.000000,30732.000000,30732.000000,30732.000000,30732.000000,30732.000000,30732.000000
mean,124640.203378,17.114898,30.426697,28.328957,16.696335,23.259965,0.006573
std,34.650668,54.697722,9.559609,46.729941,38.315484,210.643681,0.086262
min,124580.189000,-438.965000,-10.254000,-83.496000,-223.633000,-390.625000,0.000000
25%,124610.198000,-33.203000,23.438000,-11.719000,-16.113000,-180.176000,0.000000
50%,124640.207000,14.648000,30.273000,26.367000,15.625000,12.695000,0.000000
75%,124670.215000,68.359000,37.109000,67.383000,50.781000,228.027000,0.000000
max,124700.206000,186.035000,76.660000,202.637000,152.832000,468.750000,2.000000

In [14]:
csv3 = '/Users/shiran/workspace/eeg-processing/raw-data/plain_record/01-19-18_19-08-40.csv'
data3 = pd.read_csv(csv3, float_precision='round_trip')
data3.describe()

,timesamps,TP9,AF7,AF8,TP10,Right AUX
count,3.012000e+03,3012.000000,3012.000000,3012.000000,3012.000000,3012.000000
mean,1.516382e+09,1031.888073,1029.695022,1032.606229,1031.429134,1017.931205
std,3.396709e+00,22.320739,11.656160,8.546554,21.427818,49.657512
min,1.516382e+09,805.664062,968.261719,997.070312,813.964844,874.511719
25%,1.516382e+09,1026.367188,1024.902344,1029.785156,1027.343750,990.234375
50%,1.516382e+09,1032.714844,1029.785156,1032.226562,1031.738281,1016.601562
75%,1.516382e+09,1038.574219,1034.667969,1034.667969,1036.621094,1042.602539
max,1.516382e+09,1110.839844,1119.140625,1120.117188,1115.234375,1624.511719

In [6]:
data3.head()

,timesamps,timestamp_readable,TP9,AF7,AF8,TP10,Right AUX
0,1.516379e+09,2018-01-19 18:15:29.392037,0.608317,0.569371,0.927734,0.605120,0.587972
1,1.516379e+09,2018-01-19 18:15:29.395943,0.615874,0.591169,1.067534,0.617618,0.630115
2,1.516379e+09,2018-01-19 18:15:29.399849,0.620233,0.583031,1.091076,0.620815,0.633603
3,1.516379e+09,2018-01-19 18:15:29.403756,0.616164,0.565011,0.993129,0.621687,0.612095
4,1.516379e+09,2018-01-19 18:15:29.407662,0.610933,0.561523,0.923956,0.622268,0.585647